
.grid {
	/*padding: 20px 20px 100px 20px;*/
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;

    cursor:pointer;
}

.grid li {
	display: inline-block;
	width: 100%;
	margin: 0;
	/*padding: 20px;*/
	text-align: left;
	position: relative;
}


.grid figure {
	margin: 0;
	position: relative;
	box-shadow: 0 0 20px 0 rgba(0, 0, 51,0.3);
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	/*padding: 20px;*/
	/*background: #2c3f52;*/
	/*color: #ed4e6e;*/
}

.grid figcaption h4 {
    margin: 0;
    padding: 0;
    color: #F9F7F7;
    position: absolute;
    bottom: 2%;
    right: 16%;
    background-color: rgb(0, 0, 51);
    box-shadow: 0 0 2px 0 rgb(0, 0, 51);
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;

}



/* Individual Caption Styles */


/* Caption Style 5 */
.cs-style-5 figure img {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-5 figure:hover img,
.cs-style-5 figure.cs-hover img {
	-webkit-transform: translateY(-10px) scale(0.7);
	-moz-transform: translateY(-10px) scale(0.7);
	-ms-transform: translateY(-10px) scale(0.7);
	transform: translateY(-10px) scale(0.7);
}

.no-touch .cs-style-5 figure:hover,
.cs-style-5 figure.cs-hover {
		-webkit-transition:  box-shadow 0.4s , border-radius 0.4s;
	-moz-transition: box-shadow 0.4s , border-radius 0.4s;
	transition:  box-shadow 0.4s , border-radius 0.4s;

	box-shadow: 0 0 20px 0 rgba(0, 0, 51,1);
}

.cs-style-5 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.4s, opacity 1s;
	-moz-transition: -moz-transform 0.4s, opacity 1s;
	transition: transform 0.4s, opacity 1s;
}

.no-touch .cs-style-5 figure:hover figcaption,
.cs-style-5 figure.cs-hover figcaption {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.cs-style-5 figure a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

@med/*ia screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}*/