/* ------------- General ------------- */
@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext,latin-ext,cyrillic,greek-ext,greek,vietnamese);
@font-face {
  font-family: "cs-ctrl-basic";
  src: url("cs-ctrl-basic.eot");
  src: url("cs-ctrl-basic.eot#iefix") format("embedded-opentype"),
      url("cs-ctrl-basic.woff") format("woff"),
      url("cs-ctrl-basic.ttf") format("truetype"),
      url("cs-ctrl-basic.svg#basic") format("svg");
  font-weight: normal;
  font-style: normal;
}

.csslider1 {
  display: inline-block;
  position: relative;
  padding-top: 1%;
  max-width: none;
  width: 80%;
  left: 10%
}
.csslider1,
.csslider1 *,
.csslider1 *:after,
.csslider1 *:before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.csslider1 > .cs_anchor {
  display: none;
}
.csslider1 > ul {
  position: relative;
  z-index: 1;
  font-size: 0;
  line-height: 0;
  margin: 0 auto;
  padding: 0;
  
  overflow: hidden;
  white-space: nowrap;
}
.csslider1 > ul > .cs_skeleton {
  width: 100%;
  visibility: hidden;
  font-size: 0px;
  line-height: 0;
}

.csslider1 > ul > .slide.img img {
  width: 100%;
}



.csslider1 > ul > .slide.img a {
  font-size: 0pt;
  color: transparent;
}
.csslider1 > ul > .slide {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
  font-size: initial;
  line-height: normal;
  white-space: normal;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.csslider1 .cs_engine{
  position: absolute;
  top: -9999px;
  left: -9999px;
  font-size: 0pt;
  opacity: 0;
  filter: alpha(opacity=0);
}

.csslider1 > ul > li.img,
.csslider1 > .cs_arrowprev,
.csslider1 > .cs_arrownext,
.csslider1 > .cs_bullets,
.csslider1 > .cs_play_pause {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* ------------- /General Styles ------------- */

/* ------------- General Arrows ------------- */
.csslider1 > .cs_arrowprev,
.csslider1 > .cs_arrownext {
  position: absolute;
  top: 50%;
  z-index: 5;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.csslider1 > .cs_arrowprev > label,
.csslider1 > .cs_arrownext > label {
  position: absolute;
  text-decoration: none;
  cursor: pointer;
  opacity: 0;
  z-index: -1;
  max-width: none;
  background-color: rgba(170, 196, 226, 0.4);
}
.csslider1 > .cs_arrowprev {
  left: 0;
}
.csslider1 > .cs_arrownext {
  right: 0;
}

.csslider1 > .slide:checked ~ .cs_arrowprev > label,
.csslider1 > .slide:checked ~ .cs_arrownext > label {
  opacity: 0;
  z-index: -1;
}



.csslider1 > #cs_slide1_0:checked ~ .cs_arrowprev > label.num5,
.csslider1 > #cs_pause1_0:checked ~ .cs_arrowprev > label.num5,
.csslider1 > #cs_slide1_0:checked ~ .cs_arrownext > label.num1,
.csslider1 > #cs_pause1_0:checked ~ .cs_arrownext > label.num1, 
.csslider1 > #cs_slide1_1:checked ~ .cs_arrowprev > label.num0,
.csslider1 > #cs_pause1_1:checked ~ .cs_arrowprev > label.num0,
.csslider1 > #cs_slide1_1:checked ~ .cs_arrownext > label.num2,
.csslider1 > #cs_pause1_1:checked ~ .cs_arrownext > label.num2, 
.csslider1 > #cs_slide1_2:checked ~ .cs_arrowprev > label.num1,
.csslider1 > #cs_pause1_2:checked ~ .cs_arrowprev > label.num1,
.csslider1 > #cs_slide1_2:checked ~ .cs_arrownext > label.num3,
.csslider1 > #cs_pause1_2:checked ~ .cs_arrownext > label.num3, 
.csslider1 > #cs_slide1_3:checked ~ .cs_arrowprev > label.num2,
.csslider1 > #cs_pause1_3:checked ~ .cs_arrowprev > label.num2,
.csslider1 > #cs_slide1_3:checked ~ .cs_arrownext > label.num4,
.csslider1 > #cs_pause1_3:checked ~ .cs_arrownext > label.num4, 
.csslider1 > #cs_slide1_4:checked ~ .cs_arrowprev > label.num3,
.csslider1 > #cs_pause1_4:checked ~ .cs_arrowprev > label.num3,
.csslider1 > #cs_slide1_4:checked ~ .cs_arrownext > label.num5,
.csslider1 > #cs_pause1_4:checked ~ .cs_arrownext > label.num5, 
.csslider1 > #cs_slide1_5:checked ~ .cs_arrowprev > label.num4,
.csslider1 > #cs_pause1_5:checked ~ .cs_arrowprev > label.num4,
.csslider1 > #cs_slide1_5:checked ~ .cs_arrownext > label.num0,
.csslider1 > #cs_pause1_5:checked ~ .cs_arrownext > label.num0 {
  opacity: 1;
  z-index: 5;
}

@-moz-keyframes arrow {
  0%, 16.656666666666666% { opacity: 1; z-index: 5; }
  16.666666666666668%, 100%  { opacity: 0; z-index: -1; }
}
@-webkit-keyframes arrow {
  0%, 16.656666666666666% { opacity: 1; z-index: 5; }
  16.666666666666668%, 100%  { opacity: 0; z-index: -1; }
}
@keyframes arrow {
  0%, 16.656666666666666% { opacity: 1; z-index: 5; }
  16.666666666666668%, 100%  { opacity: 0; z-index: -1; }
}


.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num5,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num1 {
-moz-animation: arrow 28200ms infinite -1300ms;
  -webkit-animation: arrow 28200ms infinite -1300ms;
  animation: arrow 28200ms infinite -1300ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num0,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num2 {

  -moz-animation: arrow 28200ms infinite 3400ms;
  -webkit-animation: arrow 28200ms infinite 3400ms;
  animation: arrow 28200ms infinite 3400ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num1,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num3 {
  -moz-animation: arrow 28200ms infinite 8100ms;
  -webkit-animation: arrow 28200ms infinite 8100ms;
  animation: arrow 28200ms infinite 8100ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num2,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num4 {
  -moz-animation: arrow 28200ms infinite 12800ms;
  -webkit-animation: arrow 28200ms infinite 12800ms;
  animation: arrow 28200ms infinite 12800ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num3,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num5 {
  -moz-animation: arrow 28200ms infinite 17500ms;
  -webkit-animation: arrow 28200ms infinite 17500ms;
  animation: arrow 28200ms infinite 17500ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num4,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num0 {
  -webkit-animation: arrow 28200ms infinite 22200ms;
  animation: arrow 28200ms infinite 22200ms;
}


.csslider1 > .slide:checked ~ .cs_arrowprev > label,
.csslider1 > .slide:checked ~ .cs_arrownext > label,
.csslider1 > .pause:checked ~ .cs_arrowprev > label,
.csslider1 > .pause:checked ~ .cs_arrownext > label {
  -moz-animation: none;
  -webkit-animation: none;
  animation: none;
}


/* ------------- /General Arrows ------------- */

/* ------------- General Bullets ------------- */
.csslider1 > .cs_bullets {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 6;
  font-size: 0;
  line-height: 8pt;
  text-align: center;
}
.csslider1 > .cs_bullets > div {
  margin-left: -50%;
  width: 100%;
}
.csslider1 > .cs_bullets > label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.csslider1 > .cs_bullets > label > .cs_thumb {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  z-index: 1;
  line-height: 0;
  left: -68px;
  top: -48px;
}
.csslider1 > .cs_bullets > label > .cs_thumb > img {
  max-width: none;
}
/* ------------- /General Bullets ------------- */

/* ------------- General Description ------------- */
.csslider1 > .cs_description {
  z-index: 3;
}
.csslider1 > .cs_description a,
.csslider1 > .cs_description a:visited,
.csslider1 > .cs_description a:active {
  color: inherit;
}
.csslider1 > .cs_description a:hover {
  text-decoration: none;
}
.csslider1 > .cs_description > label {
  position: absolute;
  word-wrap: break-word;
  white-space: normal;
  text-align: left;
  max-width: 50%;
  left: 0;
}
.csslider1 > .cs_description > label > span {
  vertical-align: top;
}
.csslider1 > .cs_description > label span {
  display: inline-block;
}
/* ------------- /General Description ------------- */

/* ------------- Effect ------------- */


.csslider1 > ul > .slide {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  opacity: 0;
  z-index: 1;
  
  -moz-transition:
    opacity 1300ms ease,
    -webkit-transform 14100ms cubic-bezier(0.840, 0.970, 0.855, 1.000);
  -webkit-transition:
    opacity 1300ms ease,
    -webkit-transform 14100ms cubic-bezier(0.840, 0.970, 0.855, 1.000);
  transition:
    opacity 1300ms ease,
    -webkit-transform 14100ms cubic-bezier(0.840, 0.970, 0.855, 1.000),
    transform 14100ms cubic-bezier(0.840, 0.970, 0.855, 1.000);
}

.csslider1 > ul > .slide.num0 {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  
      -moz-transform-origin: 100% 0;
      -webkit-transform-origin: 100% 0;
      transform-origin: 100% 0;
  
}
.csslider1 > ul > .slide.num1 {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  
      -moz-transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      
}
.csslider1 > ul > .slide.num2 {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  
      -moz-transform-origin: 100% 100%;
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
      
}
.csslider1 > ul > .slide.num3 {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  
      -moz-transform-origin: 0 100%;
      -webkit-transform-origin: 0 100%;
      transform-origin: 0 100%;
      
}
.csslider1 > ul > .slide.num4 {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  
      -moz-transform-origin: 100% 0;
      -webkit-transform-origin: 100% 0;
      transform-origin: 100% 0;
  
}
.csslider1 > ul > .slide.num5 {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  
      -moz-transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      
}



.csslider1 > #cs_slide1_0:checked ~ ul > .slide.num0,
.csslider1 > #cs_pause1_0:checked ~ ul > .slide.num0,.csslider1 > #cs_slide1_1:checked ~ ul > .slide.num1,
.csslider1 > #cs_pause1_1:checked ~ ul > .slide.num1,.csslider1 > #cs_slide1_2:checked ~ ul > .slide.num2,
.csslider1 > #cs_pause1_2:checked ~ ul > .slide.num2,.csslider1 > #cs_slide1_3:checked ~ ul > .slide.num3,
.csslider1 > #cs_pause1_3:checked ~ ul > .slide.num3,.csslider1 > #cs_slide1_4:checked ~ ul > .slide.num4,
.csslider1 > #cs_pause1_4:checked ~ ul > .slide.num4,.csslider1 > #cs_slide1_5:checked ~ ul > .slide.num5,
.csslider1 > #cs_pause1_5:checked ~ ul > .slide.num5 {
  opacity: 1;
  z-index: 2;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

@-moz-keyframes kenburns1 {
  0.001%, 16.665666666666667%  { z-index: 2; }
  0%, 100% {
    opacity: 0;
    -moz-transform: scale(1);
    transform: scale(1);
  }
  4.609929078014185%, 16.666666666666668% { opacity: 1 }
  21.276595744680854%, 83.33333333333333% {
    opacity: 0;
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  16.66766666666667%, 100%  { z-index: 1; }
}


@-webkit-keyframes kenburns1 {
  0.001%, 16.665666666666667%  { z-index: 2; }
  0%, 100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  4.609929078014185%, 16.666666666666668% { opacity: 1 }
  21.276595744680854%, 83.33333333333333% {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  16.66766666666667%, 100%  { z-index: 1; }
}
@keyframes kenburns1 {
  0.001%, 16.665666666666667%  { z-index: 2; }
  0%, 100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  4.609929078014185%, 16.666666666666668% { opacity: 1 }
  21.276595744680854%, 83.33333333333333% {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  16.66766666666667%, 100%  { z-index: 1; }
}


.csslider1 > #cs_play1:checked ~ ul > .slide.num0 {
  -moz-animation: kenburns1 28200ms infinite -1300ms linear;
  -webkit-animation: kenburns1 28200ms infinite -1300ms linear;
  animation: kenburns1 28200ms infinite -1300ms linear;
}
.csslider1 > #cs_play1:checked ~ ul > .slide.num1 {
  -moz-animation: kenburns1 28200ms infinite 3400ms linear;
  -webkit-animation: kenburns1 28200ms infinite 3400ms linear;
  animation: kenburns1 28200ms infinite 3400ms linear;
}
.csslider1 > #cs_play1:checked ~ ul > .slide.num2 {
  -moz-animation: kenburns1 28200ms infinite 8100ms linear;
  -webkit-animation: kenburns1 28200ms infinite 8100ms linear;
  animation: kenburns1 28200ms infinite 8100ms linear;
}
.csslider1 > #cs_play1:checked ~ ul > .slide.num3 {
  -moz-animation: kenburns1 28200ms infinite 12800ms linear;
  -webkit-animation: kenburns1 28200ms infinite 12800ms linear;
  animation: kenburns1 28200ms infinite 12800ms linear;
}
.csslider1 > #cs_play1:checked ~ ul > .slide.num4 {
  -moz-animation: kenburns1 28200ms infinite 17500ms linear;
  -webkit-animation: kenburns1 28200ms infinite 17500ms linear;
  animation: kenburns1 28200ms infinite 17500ms linear;
}
.csslider1 > #cs_play1:checked ~ ul > .slide.num5 {
  -moz-animation: kenburns1 28200ms infinite 22200ms linear;
  -webkit-animation: kenburns1 28200ms infinite 22200ms linear;
  animation: kenburns1 28200ms infinite 22200ms linear;
}


.csslider1 > #cs_play1:checked ~ ul > .slide,
.csslider1 > .pause:checked ~ ul > .slide {
  
  -moz-transition: none;
  -webkit-transition: none;
  transition: none;
}

/* ------------- /Effect ------------- */

/* ------------- Template Show on hover ------------- */
.csslider1 > .cs_play_pause {
  -moz-transition: .4s all 0s ease;
  -webkit-transition: .4s all 0s ease;
  transition: .4s all 0s ease;
}
.csslider1 > .cs_arrowprev {
  -moz-transition: .4s all .15s ease;
  -webkit-transition: .4s all .15s ease;
  transition: .4s all .15s ease;
}
.csslider1 > .cs_arrownext {
  -moz-transition: .4s all .3s ease;
  -webkit-transition: .4s all .3s ease;
  transition: .4s all .3s ease;
}
.csslider1 > .cs_arrowprev,
.csslider1 > .cs_arrownext,
.csslider1 > .cs_play_pause {
  opacity: 0;
  -moz-transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
}

.csslider1:hover > .cs_arrowprev,
.csslider1:hover > .cs_arrownext,
.csslider1:hover > .cs_play_pause {
  opacity: 1;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* ------------- /Template Show on hover ------------- */

/* ------------- Template Arrows ------------- */
.csslider1 > .cs_arrowprev > label,
.csslider1 > .cs_arrownext > label {
  padding: 17px;
  height: 23px;
  width: 23px;
  margin-top: -28px;
  margin-left: -28px;


  border-radius: 50%;
}
.csslider1 > .cs_arrowprev > label,
.csslider1 > .cs_arrownext > label,
.csslider1 > .cs_arrowprev > label span:after,
.csslider1 > .cs_arrownext > label span:after {
  -moz-transition: background-color 0.4s, color 0.4s;
  -webkit-transition: background-color 0.4s, color 0.4s;
  transition: background-color 0.4s, color 0.4s;
}
.csslider1 > .cs_arrowprev {
  margin-left: 2px;
  left: 45px;
}
.csslider1 > .cs_arrownext {
  margin-right: 2px;
  right: 45px;
}
.csslider1 > .cs_arrowprev > label span,
.csslider1 > .cs_arrownext > label span {
  display: block;
}
.csslider1 > .cs_arrowprev > label span:after,
.csslider1 > .cs_arrownext > label span:after {
  display: block;
  font: 50px "cs-ctrl-basic";
  line-height: 23px;
  text-align: center;
}
/* IE10+ hack */
_:-ms-input-placeholder, :root .csslider1 > .cs_arrowprev > label span:after {
  line-height: 29px;
}
_:-ms-input-placeholder, :root .csslider1 > .cs_arrownext > label span:after {
  line-height: 29px;
}

.csslider1 > .cs_arrowprev > label span:after {
  content: '\e800';
}
.csslider1 > .cs_arrownext > label span:after {
  content: '\e801';
}

.csslider1 > .cs_arrowprev:hover > label,
.csslider1 > .cs_arrownext:hover > label {
}

.csslider1 > .cs_arrownext:hover > label span {
  color: #000;
  -moz-animation: nextArrow .7s infinite ease-in-out;
  -webkit-animation: nextArrow .7s infinite ease-in-out;
  animation: nextArrow .7s infinite ease-in-out;
}
.csslider1 > .cs_arrowprev:hover > label span {
  color: #000;
  -moz-animation: prevArrow .7s infinite ease-in-out;
  -webkit-animation: prevArrow .7s infinite ease-in-out;
  animation: prevArrow .7s infinite ease-in-out;
}


@keyframes nextArrow {
  0%, 100% {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -moz-transform: translateX(2px);
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  75% {
    -moz-transform: translateX(-2px);
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
}
@-moz-keyframes nextArrow {
  0%, 100% {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -moz-transform: translateX(2px);
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  75% {
    -moz-transform: translateX(-2px);
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
}
@-webkit-keyframes nextArrow {
  0%, 100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  75% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
}

@-webkit-keyframes prevArrow {
  0%, 100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  75% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
}

@-moz-keyframes prevArrow {
  0%, 100% {
    -moz-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -moz-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  75% {
    -moz-transform: translateX(2px);
    transform: translateX(2px);
  }
}
@keyframes prevArrow {
  0%, 100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  75% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
}
/* ------------- /Template Arrows ------------- */

/* ------------- Template Bullets ------------- */
.csslider1 > .cs_bullets {
  bottom: 5px;
  margin-bottom: 5px;
}
.csslider1 > .cs_bullets > label {
  border-radius: 50%;
  margin: 0 5px;
  padding: 9px;
  background: #717176;
}


.csslider1 > .cs_bullets > label > .cs_thumb {
  border: 3px solid #717176;
  margin-top: -150%;
  margin-left: 3px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.csslider1 > .cs_bullets > label > .cs_thumb:before {
  content: '';
  position: absolute;
  width: 0; 
  height: 0; 
  left: 50%;
  margin-left: -4px;
  bottom: -9px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  
  border-top: 7px solid #717176;
}
.csslider1 > .cs_bullets > label:hover > .cs_thumb {
  margin-top: -12px;
  opacity: 1;
  visibility: visible;
}



.csslider1 > .cs_bullets > label > .cs_point {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -2px;
  margin-top: -2px;
  background: transparent;
  border-radius: 50%;
  padding: 2px;
}

.csslider1 > .cs_bullets > label:hover > .cs_point,

.csslider1 > #cs_slide1_0:checked ~ .cs_bullets > label.num0 > .cs_point,
.csslider1 > #cs_pause1_0:checked ~ .cs_bullets > label.num0 > .cs_point,
.csslider1 > #cs_slide1_1:checked ~ .cs_bullets > label.num1 > .cs_point,
.csslider1 > #cs_pause1_1:checked ~ .cs_bullets > label.num1 > .cs_point,
.csslider1 > #cs_slide1_2:checked ~ .cs_bullets > label.num2 > .cs_point,
.csslider1 > #cs_pause1_2:checked ~ .cs_bullets > label.num2 > .cs_point,
.csslider1 > #cs_slide1_3:checked ~ .cs_bullets > label.num3 > .cs_point,
.csslider1 > #cs_pause1_3:checked ~ .cs_bullets > label.num3 > .cs_point,
.csslider1 > #cs_slide1_4:checked ~ .cs_bullets > label.num4 > .cs_point,
.csslider1 > #cs_pause1_4:checked ~ .cs_bullets > label.num4 > .cs_point,
.csslider1 > #cs_slide1_5:checked ~ .cs_bullets > label.num5 > .cs_point,
.csslider1 > #cs_pause1_5:checked ~ .cs_bullets > label.num5 > .cs_point {
  background: #d3d3dd;
}




@keyframes bullet {
  0%, 16.656666666666666%  { background: #3A4A5A; }
  16.666666666666668%, 100% { background: transparent; }
}
@-webkit-keyframes bullet {
  0%, 16.656666666666666%  { background: #3A4A5A; }
  16.666666666666668%, 100% { background: transparent; }
}
@-moz-keyframes bullet {
  0%, 16.656666666666666%  { background: #3A4A5A; }
  16.666666666666668%, 100% { background: transparent; }
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num0 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num0 > .cs_point {
  -moz-animation: bullet 28200ms infinite -1300ms;
  -webkit-animation: bullet 28200ms infinite -1300ms;
  animation: bullet 28200ms infinite -1300ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num1 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num1 > .cs_point {
  -moz-animation: bullet 28200ms infinite 3400ms;
  -webkit-animation: bullet 28200ms infinite 3400ms;
  animation: bullet 28200ms infinite 3400ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num2 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num2 > .cs_point {
  -moz-animation: bullet 28200ms infinite 8100ms;
  -webkit-animation: bullet 28200ms infinite 8100ms;
  animation: bullet 28200ms infinite 8100ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num3 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num3 > .cs_point {
  -moz-animation: bullet 28200ms infinite 12800ms;
  -webkit-animation: bullet 28200ms infinite 12800ms;
  animation: bullet 28200ms infinite 12800ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num4 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num4 > .cs_point {
  -moz-animation: bullet 28200ms infinite 17500ms;
  -webkit-animation: bullet 28200ms infinite 17500ms;
  animation: bullet 28200ms infinite 17500ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num5 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num5 > .cs_point {
  -moz-animation: bullet 28200ms infinite 22200ms;
  -webkit-animation: bullet 28200ms infinite 22200ms;
  animation: bullet 28200ms infinite 22200ms;
}



.csslider1 > #cs_play1:checked ~ .cs_bullets > label > .cs_point,
.csslider1 > .pause:checked ~ .cs_bullets > label > .cs_point {
  -moz-transition: none;
  -webkit-transition: none;
  transition: none;
}


.csslider1 > .slide:checked ~ .cs_bullets > label > .cs_point,
.csslider1 > .pause:checked ~ .cs_bullets > label > .cs_point {
  -moz-animation: none;
  -webkit-animation: none;
  animation: none;
}


/* ------------- Template /Bullets ------------- */

/* ------------- Template Description ------------- */


.csslider1 > .cs_description > label {
  font-family: "Roboto",sans-serif;
  line-height: 20px;
  text-align: right;
  bottom: 50px;
  right: 10px;
  top: auto;
  left: auto;
}

.csslider1 > .cs_description > label > span {
  color: #FFFFFF;
  position: relative;
  padding: 13px;
  border-radius: 2px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



.csslider1 > #cs_slide1_0:checked ~ .cs_description > .num0 > .cs_title,
.csslider1 > #cs_slide1_0:checked ~ .cs_description > .num0 > .cs_descr,
.csslider1 > #cs_pause1_0:checked ~ .cs_description > .num0 > .cs_title,
.csslider1 > #cs_pause1_0:checked ~ .cs_description > .num0 > .cs_descr,
.csslider1 > #cs_slide1_1:checked ~ .cs_description > .num1 > .cs_title,
.csslider1 > #cs_slide1_1:checked ~ .cs_description > .num1 > .cs_descr,
.csslider1 > #cs_pause1_1:checked ~ .cs_description > .num1 > .cs_title,
.csslider1 > #cs_pause1_1:checked ~ .cs_description > .num1 > .cs_descr,
.csslider1 > #cs_slide1_2:checked ~ .cs_description > .num2 > .cs_title,
.csslider1 > #cs_slide1_2:checked ~ .cs_description > .num2 > .cs_descr,
.csslider1 > #cs_pause1_2:checked ~ .cs_description > .num2 > .cs_title,
.csslider1 > #cs_pause1_2:checked ~ .cs_description > .num2 > .cs_descr,
.csslider1 > #cs_slide1_3:checked ~ .cs_description > .num3 > .cs_title,
.csslider1 > #cs_slide1_3:checked ~ .cs_description > .num3 > .cs_descr,
.csslider1 > #cs_pause1_3:checked ~ .cs_description > .num3 > .cs_title,
.csslider1 > #cs_pause1_3:checked ~ .cs_description > .num3 > .cs_descr,
.csslider1 > #cs_slide1_4:checked ~ .cs_description > .num4 > .cs_title,
.csslider1 > #cs_slide1_4:checked ~ .cs_description > .num4 > .cs_descr,
.csslider1 > #cs_pause1_4:checked ~ .cs_description > .num4 > .cs_title,
.csslider1 > #cs_pause1_4:checked ~ .cs_description > .num4 > .cs_descr,
.csslider1 > #cs_slide1_5:checked ~ .cs_description > .num5 > .cs_title,
.csslider1 > #cs_slide1_5:checked ~ .cs_description > .num5 > .cs_descr,
.csslider1 > #cs_pause1_5:checked ~ .cs_description > .num5 > .cs_title,
.csslider1 > #cs_pause1_5:checked ~ .cs_description > .num5 > .cs_descr {
  opacity: 1;
  visibility: visible;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}


.csslider1 > #cs_slide1_0:checked ~ .cs_description > .num0 .cs_wrapper,
.csslider1 > #cs_pause1_0:checked ~ .cs_description > .num0 .cs_wrapper,
.csslider1 > #cs_slide1_1:checked ~ .cs_description > .num1 .cs_wrapper,
.csslider1 > #cs_pause1_1:checked ~ .cs_description > .num1 .cs_wrapper,
.csslider1 > #cs_slide1_2:checked ~ .cs_description > .num2 .cs_wrapper,
.csslider1 > #cs_pause1_2:checked ~ .cs_description > .num2 .cs_wrapper,
.csslider1 > #cs_slide1_3:checked ~ .cs_description > .num3 .cs_wrapper,
.csslider1 > #cs_pause1_3:checked ~ .cs_description > .num3 .cs_wrapper,
.csslider1 > #cs_slide1_4:checked ~ .cs_description > .num4 .cs_wrapper,
.csslider1 > #cs_pause1_4:checked ~ .cs_description > .num4 .cs_wrapper,
.csslider1 > #cs_slide1_5:checked ~ .cs_description > .num5 .cs_wrapper,
.csslider1 > #cs_pause1_5:checked ~ .cs_description > .num5 .cs_wrapper {
  opacity: 1;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}


.csslider1 > .cs_description > label {
font-weight: 100;
}
.csslider1 > .cs_description > label > .cs_title {
  background-color: rgba(122, 122, 127, 0.5);
  margin: -5px 10px;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  -moz-transition:
    950ms opacity 390ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -moz-transform 390ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms visibility 390ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -webkit-transition:
    950ms opacity 390ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -webkit-transform 390ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms visibility 390ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition:
    950ms opacity 390ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -webkit-transform 390ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms transform 390ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms visibility 390ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.csslider1 > .cs_description > label > .cs_descr {
  background-color: #808099;
  text-align: left;
  font-size: 0.8em;
  margin: -5px 20px;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  
  -moz-transition:
    950ms opacity 640ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -moz-transform 640ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms visibility 640ms cubic-bezier(0.680, -0.550, 0.265, 1.550);

  -webkit-transition:
    950ms opacity 640ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -webkit-transform 640ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms visibility 640ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition:
    950ms opacity 640ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -webkit-transform 640ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms transform 640ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms visibility 640ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}


.csslider1 > .cs_description > label > .cs_title > .cs_wrapper {
  opacity: 0;
  
  -moz-transition:
    950ms opacity 540ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -moz-transform 540ms cubic-bezier(0.680, -0.550, 0.265, 1.550);

  -webkit-transition:
    950ms opacity 540ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -webkit-transform 540ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition:
    950ms opacity 540ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -webkit-transform 540ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms transform 540ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.csslider1 > .cs_description > label > .cs_descr > .cs_wrapper {
  opacity: 0;

  -moz-transition:
    950ms opacity 790ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -moz-transform 790ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -webkit-transition:
    950ms opacity 790ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -webkit-transform 790ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition:
    950ms opacity 790ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -webkit-transform 790ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms transform 790ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}



@-moz-keyframes cs_title {
  1.179078014184397%, 15.47758865248227%  {
    opacity: 1;
    z-index: 2;
    visibility: visible;
  }
  1.6843971631205674%, 14.9722695035461%  {
    opacity: 1;
    z-index: 2;
    visibility: visible;
  }
  18.351063829787236%  {
    opacity: 0;
    z-index: 2;
    visibility: hidden;
  }
  18.361063829787238%, 100%  { z-index: 0; }
}
@-webkit-keyframes cs_title {
  1.179078014184397%, 15.47758865248227%  {
    opacity: 1;
    z-index: 2;
    visibility: visible;
  }
  1.6843971631205674%, 14.9722695035461%  {
    opacity: 1;
    z-index: 2;
    visibility: visible;
  }
  18.351063829787236%  {
    opacity: 0;
    z-index: 2;
    visibility: hidden;
  }
  18.361063829787238%, 100%  { z-index: 0; }
}
@keyframes cs_title {
  1.179078014184397%, 15.47758865248227%  {
    opacity: 1;
    z-index: 2;
    visibility: visible;
  }
  1.6843971631205674%, 14.9722695035461%  {
    opacity: 1;
    z-index: 2;
    visibility: visible;
  }
  18.351063829787236%  {
    opacity: 0;
    z-index: 2;
    visibility: hidden;
  }
  18.361063829787238%, 100%  { z-index: 0; }
}




.csslider1 > #cs_play1:checked ~ .cs_description > .num0  > .cs_title {
  -moz-animation: cs_title 28200ms infinite -909.9999999999999ms ease;
  -webkit-animation: cs_title 28200ms infinite -909.9999999999999ms ease;
  animation: cs_title 28200ms infinite -909.9999999999999ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num1  > .cs_title {
  -moz-animation: cs_title 28200ms infinite 3790ms ease;
  -webkit-animation: cs_title 28200ms infinite 3790ms ease;
  animation: cs_title 28200ms infinite 3790ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num2  > .cs_title {
  -moz-animation: cs_title 28200ms infinite 8490ms ease;
  -webkit-animation: cs_title 28200ms infinite 8490ms ease;
  animation: cs_title 28200ms infinite 8490ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num3  > .cs_title {
  -moz-animation: cs_title 28200ms infinite 13190ms ease;
  -webkit-animation: cs_title 28200ms infinite 13190ms ease;
  animation: cs_title 28200ms infinite 13190ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num4  > .cs_title {
  -moz-animation: cs_title 28200ms infinite 17890ms ease;
  -webkit-animation: cs_title 28200ms infinite 17890ms ease;
  animation: cs_title 28200ms infinite 17890ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num5  > .cs_title {
  -moz-animation: cs_title 28200ms infinite 22590ms ease;
  -webkit-animation: cs_title 28200ms infinite 22590ms ease;
  animation: cs_title 28200ms infinite 22590ms ease;
}


.csslider1 > #cs_play1:checked ~ .cs_description > .num0  > .cs_descr {
  -moz-animation: cs_descr 28200ms infinite -659.9999999999999ms ease;
  -webkit-animation: cs_descr 28200ms infinite -659.9999999999999ms ease;
  animation: cs_descr 28200ms infinite -659.9999999999999ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num1  > .cs_descr {
  -moz-animation: cs_descr 28200ms infinite 4040ms ease;
  -webkit-animation: cs_descr 28200ms infinite 4040ms ease;
  animation: cs_descr 28200ms infinite 4040ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num2  > .cs_descr {
  -moz-animation: cs_descr 28200ms infinite 8740ms ease;
  -webkit-animation: cs_descr 28200ms infinite 8740ms ease;
  animation: cs_descr 28200ms infinite 8740ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num3  > .cs_descr {
  -moz-animation: cs_descr 28200ms infinite 13440ms ease;
  -webkit-animation: cs_descr 28200ms infinite 13440ms ease;
  animation: cs_descr 28200ms infinite 13440ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num4  > .cs_descr {
  -moz-animation: cs_descr 28200ms infinite 18140ms ease;
  -webkit-animation: cs_descr 28200ms infinite 18140ms ease;
  animation: cs_descr 28200ms infinite 18140ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num5  > .cs_descr {
  -moz-animation: cs_descr 28200ms infinite 22840ms ease;
  -webkit-animation: cs_descr 28200ms infinite 22840ms ease;
  animation: cs_descr 28200ms infinite 22840ms ease;
}


@-moz-keyframes cs_title_text {
  1.179078014184397%, 15.47758865248227%  {
    opacity: 1;
  }
  1.6843971631205674%, 14.9722695035461%  {
    opacity: 1;
  }
  18.351063829787236%  {
    opacity: 0;
  }
}

@-webkit-keyframes cs_title_text {
  1.179078014184397%, 15.47758865248227%  {
    opacity: 1;
  }
  1.6843971631205674%, 14.9722695035461%  {
    opacity: 1;
  }
  18.351063829787236%  {
    opacity: 0;
  }
}
@keyframes cs_title_text {
  1.179078014184397%, 15.47758865248227%  {
    opacity: 1;
  }
  1.6843971631205674%, 14.9722695035461%  {
    opacity: 1;
  }
  18.351063829787236%  {
    opacity: 0;
  }
}





.csslider1 > #cs_play1:checked ~ .cs_description > .num0 .cs_title > .cs_wrapper {
  -moz-animation: cs_title_text 28200ms infinite -759.9999999999999ms ease;
  -webkit-animation: cs_title_text 28200ms infinite -759.9999999999999ms ease;
  animation: cs_title_text 28200ms infinite -759.9999999999999ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num1 .cs_title > .cs_wrapper {
  -moz-animation: cs_title_text 28200ms infinite 3940ms ease;
  -webkit-animation: cs_title_text 28200ms infinite 3940ms ease;
  animation: cs_title_text 28200ms infinite 3940ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num2 .cs_title > .cs_wrapper {
  -moz-animation: cs_title_text 28200ms infinite 8640ms ease;
  -webkit-animation: cs_title_text 28200ms infinite 8640ms ease;
  animation: cs_title_text 28200ms infinite 8640ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num3 .cs_title > .cs_wrapper {
  -moz-animation: cs_title_text 28200ms infinite 13340ms ease;
  -webkit-animation: cs_title_text 28200ms infinite 13340ms ease;
  animation: cs_title_text 28200ms infinite 13340ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num4 .cs_title > .cs_wrapper {
  -moz-animation: cs_title_text 28200ms infinite 18040ms ease;
  -webkit-animation: cs_title_text 28200ms infinite 18040ms ease;
  animation: cs_title_text 28200ms infinite 18040ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num5 .cs_title > .cs_wrapper {
  -moz-animation: cs_title_text 28200ms infinite 22740ms ease;
  -webkit-animation: cs_title_text 28200ms infinite 22740ms ease;
  animation: cs_title_text 28200ms infinite 22740ms ease;
}


.csslider1 > #cs_play1:checked ~ .cs_description > .num0 .cs_descr > .cs_wrapper {
  -moz-animation: cs_descr_text 28200ms infinite -509.9999999999999ms ease;
  -webkit-animation: cs_descr_text 28200ms infinite -509.9999999999999ms ease;
  animation: cs_descr_text 28200ms infinite -509.9999999999999ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num1 .cs_descr > .cs_wrapper {
  -moz-animation: cs_descr_text 28200ms infinite 4190ms ease;
  -webkit-animation: cs_descr_text 28200ms infinite 4190ms ease;
  animation: cs_descr_text 28200ms infinite 4190ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num2 .cs_descr > .cs_wrapper {
  -moz-animation: cs_descr_text 28200ms infinite 8890ms ease;
  -webkit-animation: cs_descr_text 28200ms infinite 8890ms ease;
  animation: cs_descr_text 28200ms infinite 8890ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num3 .cs_descr > .cs_wrapper {
  -moz-animation: cs_descr_text 28200ms infinite 13590ms ease;
  -webkit-animation: cs_descr_text 28200ms infinite 13590ms ease;
  animation: cs_descr_text 28200ms infinite 13590ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num4 .cs_descr > .cs_wrapper {
  -moz-animation: cs_descr_text 28200ms infinite 18290ms ease;
  -webkit-animation: cs_descr_text 28200ms infinite 18290ms ease;
  animation: cs_descr_text 28200ms infinite 18290ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num5 .cs_descr > .cs_wrapper {
  -moz-animation: cs_descr_text 28200ms infinite 22990ms ease;
  -webkit-animation: cs_descr_text 28200ms infinite 22990ms ease;
  animation: cs_descr_text 28200ms infinite 22990ms ease;
}




.csslider1 > #cs_play1:checked ~ .cs_description > label > .cs_title,
.csslider1 > #cs_play1:checked ~ .cs_description > label > .cs_descr,
.csslider1 > #cs_play1:checked ~ .cs_description > label > .cs_title > .cs_wrapper,
.csslider1 > #cs_play1:checked ~ .cs_description > label > .cs_descr > .cs_wrapper,
.csslider1 > .pause:checked ~ .cs_description > label > .cs_title,
.csslider1 > .pause:checked ~ .cs_description > label > .cs_descr,
.csslider1 > .pause:checked ~ .cs_description > label > .cs_title > .cs_wrapper,
.csslider1 > .pause:checked ~ .cs_description > label > .cs_descr > .cs_wrapper {
  -moz-transition: none;
  -webkit-transition: none;
  transition: none;
}

/* ------------- /Template Description ------------- */
/* hide description & bullets on mobile devices */
@media
only screen and (max-width: 480px),
only screen and (-webkit-max-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (   max--moz-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (     -o-max-device-pixel-ratio: 2/1)    and (max-width: 480px),
only screen and (        max-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (                max-resolution: 192dpi) and (max-width: 480px),
only screen and (                max-resolution: 2dppx)  and (max-width: 480px) { 
  .csslider1 > .cs_description,
  .csslider1 > .cs_bullets {
    display: none;
  }
}
